#daily-forecast {
  padding: 1vmax;
  margin-top: 3vmax;
  background-color: var(--secondary-transparent);
  border-radius: 6px;
}

#daily-forecast-title {
  margin-bottom: 1vmax;
  font-size: clamp(1rem, 1.5vmax, 2rem);
}

#weekdays-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.6vmax;
}

.weekday-forecast {
  display: grid;
  place-items: center;
  padding: 6px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.weekday {
  font-size: clamp(1rem, 1.5vmax, 1.4rem);
}

.forecast-weather-icon {
  width: 70%;
}

.daily-temp {
  font-size: clamp(0.8rem, 1.4vmax, 1.4rem);
}

@media (max-width: 768px) {
  #daily-forecast {
    margin: 6vmax 0;
  }

  #daily-forecast-title {
    margin-bottom: 2vmax;
  }
}
