#daily-forecast {
  margin-top: 3vmax;
}

#weekdays-forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 0.6vmax;
}

.weekday-forecast {
  display: grid;
  place-items: center;
  padding: 0.8vmax;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-cultured);
  border-radius: 5px;
}

.weekday {
  font-size: clamp(1rem, 1.5vmax, 1.6rem);
}

.forecast-weather-icon {
  width: 60%;
}

.daily-temp {
  font-size: clamp(0.8rem, 1.4vmax, 1.4rem);
}

@media (max-width: 768px) {
  #daily-forecast {
    margin: 6vmax 0;
  }

  #daily-forecast-title {
    margin-bottom: 2vmax;
  }
}
