* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(0, 0%, 96%);
  --secondary: rgba(148, 179, 253);
  --secondary-transparent: rgba(148, 179, 253, 0.65);
}

body {
  background: url(../assets/bg-gifs/Atmosphere.gif) no-repeat center
    center/contain;
  background-color: var(--primary);
}

.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
