* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(0, 0%, 96%);
  --secondary: rgba(148, 179, 253);
  --secondary-transparent: rgba(148, 179, 253, 0.65);
}

body {
  background: url(../assets/bg-gifs/Atmosphere.gif) no-repeat center
    center/contain;
  background-color: var(--primary);
}

.container {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.material-symbols-outlined {
  display: grid;
  place-content: center;
  font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 200, 'opsz' 48;
}

.input-field {
  height: 100%;
  padding: 8px;
  background-color: transparent;
  font-size: clamp(1rem, 1.4vmax, 2rem);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--secondary);
}

.btn {
  border: none;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}
