.weather {
  flex: 2 0 400px;
  padding: 2vmax 2.4vmax 0.5vmax 2.4vmax;
}

#date {
  font-size: clamp(1rem, 1.4vmax, 1.8rem);
  margin-bottom: 1vmax;
}

#city {
  font-size: clamp(1.4rem, 2vmax, 3rem);
}

#temp-wrapper {
  font-size: clamp(3rem, 6vmax, 8rem);
}

#toggle-unit-btn {
  padding: 6px;
  font-size: clamp(0.8rem, 1.6vmax, 1.6rem);
  color: var(--color-cultured);
  background-color: transparent;
  border: 2px solid var(--color-cultured);
  border-radius: 4px;
}

#description {
  font-size: clamp(1.8rem, 2.2vmax, 4rem);
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2vmax;
  margin: 2.2vmax 0;
}

.weather-detail {
  display: flex;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* border: 1px solid var(--color-cultured); */
  border-radius: 6px;
}

.weather-detail-icon {
  padding: 4px;
  color: var(--color-cultured);
  font-size: clamp(2rem, 3vmax, 5rem);
}

.weather-data {
  padding: 6px;
}

.label {
  font-size: clamp(0.8rem, 1.4vmax, 2rem);
  white-space: nowrap;
}

.value {
  font-size: clamp(1.4rem, 2.2vmax, 4rem);
  word-break: break-all;
}

#city-weather-search {
  height: clamp(1.8rem, 2.4vmax, 4rem);
  display: flex;
  place-items: center start;
  margin-top: 4vmax;
}

#btn-search-city {
  height: 100%;
  background: transparent;
  border-bottom: 2px solid var(--color-cultured);
}

.search-icon {
  font-size: clamp(1.4rem, 2vmax, 5rem);
  color: var(--color-cultured);
  font-variation-settings: 'FILL' 1, 'wght' 800, 'GRAD' 200, 'opsz' 48;
}

/* For Tablet and below */
@media (max-width: 768px) {
  #date {
    margin-bottom: 1.8vmax;
  }

  .weather-details {
    margin: 4vmax 0;
  }

  #city-weather-search {
    margin-top: 6vmax;
  }
}
